{% if page.lang == 'en' or page.url contains '/en/' or post.lang == 'en' %}
  {{ include.date | date: "%B %-d, %Y" }}
{% elsif page.lang == 'es' or page.url contains '/es/' or post.lang == 'es' %}
  {% assign months_es = "enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre" | split: "," %}
  {% assign month_number = include.date | date: "%-m" | minus: 1 %}
  {{ include.date | date: "%-d" }} de {{ months_es[month_number] }} de {{ include.date | date: "%Y" }}
{% else %}
  {% assign months_pt = "janeiro,fevereiro,março,abril,maio,junho,julho,agosto,setembro,outubro,novembro,dezembro" | split: "," %}
  {% assign month_number = include.date | date: "%-m" | minus: 1 %}
  {{ include.date | date: "%-d" }} de {{ months_pt[month_number] }} de {{ include.date | date: "%Y" }}
{% endif %}