---
---

@import "minima";
@import "_ibm-plex-sans";

html, body {
  font-family: 'IBM Plex Sans', "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  background-color: #fdfbf4;
}

.site-footer {
  background-color: #1d1d1d;
  color: #e7e7e7;
  padding: 4rem 1.5rem 2rem;
}

a, a:visited {
  color: #a3a3a3;
  transition: color 0.25s ease-in-out;
}

a.post-link {
  font-size: 23px;
  font-weight: 500;
  line-height: 1.2;
  color: #222222;
}

a:hover, a.page-link:hover  {
  color: #533e33;
  text-decoration: none;
}

pre, code {
  background-color: #fff8f8;
  font-size: 14px;
  border: 1px solid #ffe8e8;
}

.post-title {
  font-family: 'IBM Plex Sans', 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #252525;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
}

.post-content p {
  color: #222222;
}

.author-name {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.about-author {
  border-top: 1px solid #e8e8e8;
  margin-top: 25px;
  padding-top: 25px;
}

.author-image-block {
  float:left;
  margin-right: 25px;
}

.author-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.author-description {
  font-size: 15px;
  color: #828282;
}

.contact-list li + li {
    padding-top: 5px;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/GothamBook.woff2') format("woff2"), url('fonts/GothamBook.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/GothamMedium.woff2') format("woff2"), url('fonts/GothamMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

.language-selector {
  display: block;
  margin-left: 20px;
  
  .language {
    margin: 0 5px;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 14px;
    
    &.active {
      font-weight: bold;
      color: #533e33;
    }
  }
}

// Components
@import "components/header";
@import "components/post-list";
@import "components/footer";

@include media-query($on-palm) {
  .page-content {
    padding: 1rem;
  }
}